<div class="container">
  <table class="table table-bordered table-striped" *ngIf="displayArray[0]">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Condition</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayArray">
        <td>{{item.selectType}}</td>
        <td>{{item.selectCondition}}</td>
        <td> <i class="fas fa-trash-alt"></i>Delete</td>
      </tr>
    </tbody>
  </table>
  <br>

  <button mat-button class="center" (click)="openDialog()">Alert New Model</button>
  <br/><br />
  <button mat-button class="center" (click)="openModal()">Alert Verify</button>
</div>