<div class="container">
    <table class="table table-bordered table-striped" *ngIf="displayArray[0]">
        <thead>
          <tr >
            <th scope="col">Type</th>
            <th scope="col">Condition</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of displayArray" >
              <td>{{item.selectType}}</td>
              <td>{{item.selectCondition}}</td>
              <td> <i class="fas fa-trash-alt"></i>Delete</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!-- <div class="test" >
        <p > <span>{{item.selectType}}</span><span>{{item.selectCondition}}<span>Delete</span></span></p>
    </div> -->
  
    <button mat-button (click)="openDialog()">Alert New Model</button>   
</div>
