<div *ngIf="data.title=='modal1'">
  <form [formGroup]="alertAddForm">
    <div class="col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Alert Type</mat-label>
        <mat-select formControlName="selectType">
          <mat-option *ngFor="let type of type1" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Condition value</mat-label>
        <mat-select formControlName="selectCondition">
          <mat-option *ngFor="let type of type2" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col-md-12 text-center">
      <button (click)="addType()"> Add</button>
    </div>
  </form>
</div>
<div *ngIf="data.title=='modal2'">
  <form [formGroup]="alertModalForm">
    <div class="col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Alert Type</mat-label>
        <mat-select formControlName="alertType">
          <mat-option *ngFor="let type of type3" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Url</mat-label>
        <input matInput placeholder="enter url" value="" formControlName="url">
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Response</mat-label>
        <mat-select formControlName="response">
          <mat-option *ngFor="let type of type5" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 text-center">
      <button (click)="addType()"> Add</button>
    </div>
  </form>
</div>